USE [master]
GO
/****** Object:  Database [NomPro]    Script Date: 21/08/2025 11:37:02 ******/
CREATE DATABASE [NomPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NomPro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NomPro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NomPro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NomPro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NomPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NomPro]
GO
/****** Object:  Table [dbo].[ath]    Script Date: 21/08/2025 11:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ath](
	[dni] [varchar](8) NOT NULL,
	[edad] [int] NULL,
	[peso] [decimal](18, 0) NULL,
	[altura] [int] NULL,
	[freqActv] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food]    Script Date: 21/08/2025 11:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food](
	[nam] [varchar](10) NOT NULL,
	[porcion] [varchar](10) NULL,
	[cals] [decimal](18, 0) NOT NULL,
	[carbs] [decimal](18, 0) NOT NULL,
	[prot] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[per]    Script Date: 21/08/2025 11:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[per](
	[dni] [varchar](8) NOT NULL,
	[edad] [int] NULL,
	[peso] [decimal](18, 0) NULL,
	[altura] [int] NULL,
	[freqActv] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 21/08/2025 11:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[dni] [varchar](8) NOT NULL,
	[edad] [int] NULL,
	[peso] [decimal](18, 0) NULL,
	[altura] [int] NULL,
	[freqActv] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[food] ADD  DEFAULT ((100)) FOR [porcion]
GO
USE [master]
GO
